{% block content %}
<section class="w3-container w3-padding-32" style="text-align: center; font-family: 'Raleway', Arial, sans-serif;">
  <h1>Welcome to the Home Page</h1>

  <!-- Add your image here -->

  <h2> Summary About Me:</h2>
  <h4>
    Motivated and adaptable professional with a background in Medical Laboratory Science, seeking a career change into the dynamic field of Data Science. Earning a Master's degree in Data Science to leverage analytical skills, domain knowledge, and a passion for data-driven insights, I am excited to transition into this exciting and challenging career path.
  </h4>
</section>
{% endblock %}
